@import "variables/_color.scss";

body {
    background-color: $backgorund-color;
}

div {
    background-color: $div-color;

    h1 {
        font-size: 2em;
        font-weight: bold;
        color: $titulo;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}



section {
    background-color: $div-color;
    display: flex;

    div {
        justify-content: left;

        p {
            color: $color
        }
    }

    img {
        border-radius: 20px;
        padding: 10px;
    }
}

.texto {
    padding: 10px;
}

